@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
}
img {
  max-width: 100%;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary100: #FD377E;
  --primary200: #E34981;
  --grey000:    #000000;
  --grey100:    #212529;
  --grey200:    #343A40;
  --grey300:    #868E96;
  --grey600:    #E9ECEF;
  --grey800:    #F8F9FA;
  --grey900:    #FFFFFF;
  --sucess100:  #03B898;


  --size-1: 1.75rem;  /* 28px */
  --size-2: 1.5rem;   /* 24px */
  --size-3: 1.25rem;  /* 20px */
  --size-4: 1rem;     /* 16px */  
  --size-5: 0.875rem; /* 14px */

  --font-weight-1: 800;
  --font-weight-2: 700;
  --font-weight-3: 600;
  --font-weight-4: 400;  
  
  --radius-1: 8px;
  --radius-2: 4px;

  --container-1: 1200px;
  --container-2: 900px;
}

.container{
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media(min-width: 900px){
  .initial{
    flex-direction: row;
    align-items: center;
  }
  main{
    flex-direction: row;
    align-items: flex-start;
    position: relative;
  }
  .left{
    width: auto;
    position: absolute;
    top: 0;
    left: 1rem;
  }
  .form{
    margin-bottom: 111px;
  }
  .totalMoney{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .right{
    max-width: 550px;
    position: absolute;
    top: 0;
    right: 1rem;
  }
  .menu{
    flex-direction: row;
    justify-content: space-between;
  }
}