.button-primary{
    height: 3rem;
    padding: 0 1.25rem;
    border: none;
    border-radius: var(--radius-1);
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--primary100);
    color: var(--grey900);
    cursor: pointer;
}
.button-primary:hover{
    background-color: var(--primary200);
    color: var(--grey800);
}

.small-button-disabled{
    height: 2.5rem;
    padding: 0 1rem;
    border: none;
    border-radius: var(--radius-1);
    font-weight: 600;
    font-size: 0.875rem;
    background-color: var(--grey600);
    color: var(--grey200);
    cursor: pointer;
}
.small-button-disabled:hover{
    background-color: var(--grey200);
    color: var(--grey800); 
}

.small-button-primary{
    height: 2.5rem;
    padding: 0 1rem;
    border: none;
    border-radius: var(--radius-1);
    font-weight: 600;
    font-size: 0.875rem;
    background-color: var(--primary100);
    color: var(--grey900);
    cursor: pointer;
}
.small-button-primary:hover{
    background-color: var(--primary200);
    color: var(--grey800);
}

.button-delete{
    width: 1.375rem;
    height: 1.375rem;
    background-image: url(/src/assets/trash.svg);   
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--grey600);
    border: none;
    border-radius: var(--radius-2);
    cursor: pointer;
}
.button-delete:hover{
    background-color: var(--grey300);
}

